.main {
    width: 100%;
    background-color: tan;
}

.article-list {
    width: 800px;
    height: 1000px;
    margin: 0 auto;
}

@media only screen and (max-width: 800px) {
    .article-list {
        width: auto;
        padding: 0 1rem;
    }
}
