.logo {
  margin: 10px;
}

.logo span {
  color: #fff;
  font-size: 20px;
  padding-left: 15px;
}

.operate-desktop {
  padding: 24px;
  background: #fff;
  min-height: 360px;
}

.bread-crumb {
  margin: 11px 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}