.container {
    width: 860px;
    margin: 0 auto;
    margin-bottom: 60px;
}

.content {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
    height: 1000px;
}

.article-title {
    color: #666;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 10px;
    letter-spacing: 1px;
}

.article-info {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.time {
    border-left: 3px solid #119da4;
    color: #A9A9A9;
    padding-left: 5px;
}

.article-category {
    border-left: 3px solid #119da4;
    padding-left: 5px;
    margin-left: 10px;
}

.article-category a {
    color: #A9A9A9;
}

@media (max-width: 860px) {
    .container {
        width: auto;
        margin: 0 20px 60px;
    }
}