.header {
    width: 860px;
    height: 120px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.logo {
    align-items: center;
    display: flex;
    font-size: 22px;
    font-weight: 700;
    padding-left: 10px;
}

.header a {
    color: #3c4859;
    background-color: transparent;
    text-decoration: none;
    border-radius: 5px;
    margin-right: 5px;
    transition: all .2s;
}

.header a:hover {
    background-color: #3c4859;
    color: #fff
}

.header .nav a {
    padding: 10px;
}

.nav {
    line-height: 40px;
    padding-top: 40px;
}

@media (max-width: 860px) {
    .header {
        width: auto;
        margin-left: 15px;
        margin-right: 15px;
    }
}
