.header {
    height: 80px;
}

.header-inner {
    width: 900px;
    margin: 0 auto;
    display: flex;
    
}

.logo {
    display: inline-block;
}

.logo-text {
    display: block;
    font-size: 1.5rem;
    line-height: 80px;
    padding-left: 20px;
}

.nav-list {
    display: inline-block;
    line-height: 80px;
    margin-left: auto;
    padding-right: 20px;
}

.hiden-logo {
    display: none;
}

.show-nav {
    display: inline-block !important;
    line-height: 55px;
}

.menu {
    display: none;
    position: absolute;
    top: 19px;
    left: 5%;
    width: 24px;
    height: 18px;
}

.menu::before {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
}

.menu::after {
    content: "";
    position: absolute;
    left: 0;
    width: 24px;
    height: 2px;
    background-color: #000;
}

.close::before {
    top: 8px;
    transition: all .5s ease;
    transform:rotate(45deg)
}

.close::after {
    bottom: 8px;
    transition: all .5s ease;
    transform:rotate(-45deg)
}

.hiden-line {
    opacity: 0;
}

.line {
    height: 2px;
    background-color: #000;
    margin: 8px 0 7px 0;
}

ul {
    list-style: none;
}

.nav-item {
    display: inline-block;
    letter-spacing: 2px;
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #474747;
}

a:hover {
    color: #979797;
}

@media only screen and (max-width: 800px) {
    .header {
        height: 55px;
        width: auto;
        box-shadow: 0 1px 6px 0 rgba(32,33,36,.28);
    }

    .header-inner {
        width: 100%;
        height: 55px;
        margin: 0;
        text-align:center;
    }

    .nav-list {
        display: none;
        margin: 0 auto;
    }

    .nav-item {
        line-height: 55px;
    }
    
    .logo {
        line-height: 55px;
        margin: 0 auto;
    }

    .logo-text {
        line-height: 55px;
        padding-left: 0;
    }

    .menu {
        display: inline-block;
    }
}
