.header {
    height: 80px;
    line-height: 80px;
}

.logo {
    display: inline-block;
    position: absolute;
    left: 5%;
}

ul {
    position: absolute;
    right: 10%;
    list-style: none;
    display: inline-block;
}

li {
    display: inline-block;    
    padding-left: 50px;
}

a {
    text-decoration: none;
    color: #474747;
}

a:hover {
    color: #979797;
}
