.archive-main {
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0 20px 20px 20px;
}

.archive-btn {
    height: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #424242;
}

.archive-btn a {
    line-height: 25px;
    color: #fff;
}