.classify-main {
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.classify-btn {
    height: 25px;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: inline-block;
    background-color: #E0E0E0;
}

.classify-btn a {
    line-height: 25px;
}