.about-content {
    height: 300px;
    border-radius: 10px;
    padding: 70px 0 0 5%;
    background-color: #fff;
    margin: 0 20px 20px 20px;
}

.about-text {
    margin-bottom: 40px;
}

.about-text p {
    margin-top: 10px;
}