.content {
    padding: 20px;
    border-radius: 8px;
    background-color: #fff;
}

.article-title {
    color: #666;
    font-weight: 500;
    font-size: 1.5rem;
    padding-top: 10px;
    letter-spacing: 1px;
}

.article-info {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
    padding-bottom: 20px;
    border-bottom: 1px solid #F5F5F5;
}

.time {
    border-left: 3px solid #119da4;
    color: #A9A9A9;
    padding-left: 5px;
}

.article-category {
    border-left: 3px solid #119da4;
    padding-left: 5px;
    margin-left: 10px;
}

.article-category a {
    color: #A9A9A9;
}

pre {
    background-color: #F8F8F8;
    padding: 20px;
    border-radius: 3px;
    font-size: 15px;
}

.article-content h3 {
    margin-bottom: 10px;
    color: #666;
}

.article-content code {
    display: block;
    overflow-x: auto;
}

.article-content ol, ul {
    padding-left:20px;
    font-weight: 500;
}

.article-content p, pre, h2, li, blockquote {
    margin-bottom: 10px;
}

blockquote {
    background-color: #F8F8F8;
    padding: 20px 10px 10px 10px;
    border-left: 3px solid #119da4;
    border-radius: 3px;
    font-weight: 500;
}

blockquote p {
    margin-bottom: 0;
}

.loading-text {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    color: #ccc;
}

@media (max-width: 860px) {
    .container {
        width: auto;
        margin: 0 20px 60px;
    }
}