.container {
    width: 860px;
    margin: 0 auto;
    padding-bottom: 130px;
}

.container a {
    color: #666;
    text-decoration: none;
}

.article {
    margin-bottom: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
}

.article-inner {
    display: flex;
}

.article-body {
    overflow: hidden;
    text-overflow: ellipsis;
}

.article-info {
    display: flex;
    justify-content: flex-start;
    margin: 10px 0;
}

.time {
    border-left: 3px solid #119da4;
    color: #A9A9A9;
    padding-left: 5px;
}

.article-category {
    border-left: 3px solid #119da4;
    padding-left: 5px;
    margin-left: 10px;
}

.article-category a {
    color: #A9A9A9;
}

.article-title {
    font-size: 1.3rem;
    font-weight: 500;
    padding: 0 0 10px;
}

.article-content {
    line-height: 1.6;
    font-weight: 300;
    color: #424b50;
}

.article-footer {
    display: flex;
    justify-content: flex-end;
    padding: 10px 0 0;
    letter-spacing: 1px;
}

.page-count {
    display: flex;
    justify-content: center;
}

.page-num {
    margin: 5px 10px 0;
    color: #3C4859;
}

.page-btn {
    color: #3C4859;
    width: 50px;
    height: 25px;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px;
    transition: all .2s;
}

.page-btn:hover {
    background-color: #3C4859;
    color: #fff;
}

@media (max-width: 860px) {
    .article {
        margin: 0 20px 20px;
    }
}